body{
  text-align: center;
  background-color: #011F3F !important;
}
.level{
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
}
/* h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  display: inline;
} */
.level h1{
  position: relative;
  right:  100px;
  display: inline-block;
  font-size: 3rem;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin-left: 13rem;
}
.level p{
  /* visibility: hidden; */
  position: absolute;
  right:100px;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin-left: 10rem;
  /* visibility: hidden; */
}

.container{
  padding-top: 1.5rem;
  display: block;
}
.col{
  padding: 10px!important;
}
.btn{
    text-align: left;
    font-size: 24px;
    display: inline-block;
    height: 10rem;
    width: 10rem;
    border: 10px solid black !important;
    border-radius: 20% !important;


}
.game-over {
  background-color: red;
  opacity: 0.8;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
